<div>
    <search><img style="margin-top: 10px;margin-left: 12px" src="/templates/img/search.png"><input value="搜索"></search>
    <div>
        <div style="right: 369px;top: 28px"><img src="/templates/img/notifications.png"><a>3</a></div>
        <div class="wow zoomIn animated" style="right: 310px;top: 24px"><img  src="/templates/img/Avatar.png" width="30px"></div>
        <div style="right: 268px;top: 28px"><img  src="/templates/img/arrow_drop_down.png"></div>
        <div style="position: fixed;width: 32px;height: 32px;right: 180px;background: rgba(0, 133, 255, 0.1);border-radius: 256px;flex: none;order: 0;flex-grow: 0;
margin: 0px 8px;" >
            <div style="position: absolute;width: 8px;height: 20px;left: 10.5px;top: 6px;bottom: 6px;color: rgb(0, 133, 255);font-family: Inter;font-size: 13px;font-weight: 500;line-height: 20px;letter-spacing: 0%;text-align: center;">魏</div>
        </div><div style="right: 24px;top: 28px"><c style="position: fixed;width: 58px;right: 106px;height: 24px;
color: rgb(28, 28, 28);font-family: Inter;font-size: 16px;font-weight: 500;line-height: 24px;letter-spacing: 0%;text-align: left;display: flex;flex-direction: row;justify;content: flex-start;align-items: center;padding: 0px;flex: none;order: 1;flex-grow: 0;margin: 0px 8px;"><strong>Weizhihao</strong></c>
    </div>
        <div style="right: 28px;top: 30px"><img  src="/templates/img/arrow_drop_down.png"></div>
    </div>

</div>