<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>微博主题画像平台</title>
  <link href="/templates/css/clean-blog.css" rel="stylesheet" type="text/css">
  <link href="/templates/SK2/Untitled-2.css" rel="stylesheet" type="text/css">
  <!-- Custom fonts for this template-->
  <link href="/templates/SK2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="/templates/SK2/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<!--  <script src="/templates/js/small.js"></script>-->
  <!-- Custom styles for this template-->
  <link href="/templates/SK2/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->

    {% include '/SK2/shu.html' %}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% include '/SK2/heng.html' %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">仪表盘</h1>
            <a href="https://github.com/Wzhhhh123/biye_weibo" class="d-none d-sm-inline-block btn btn-sm btn-dark shadow-sm"><i class="fas fa-paper-plane fa-sm text-white-50"></i> Github</a>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">微博爬取总条数</div>

                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ttt}} </div>

                    </div>
                    <div class="col-auto">
                      <i class="fas fa-th-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      {% for count_hotsnumbers in count_hotnumber %}
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">热搜总条数&nbsp;</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{count_hotsnumbers.t}}</div>
                      {% endfor %}
                    </div>
                    <div class="col-auto">
                      <i class="fa fa-comment fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">国内微博占比</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{chi}}</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: {{chi}}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">数据来源</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">WeiboSpider</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-database fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->

          <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">热搜分布图</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <div class="chart-area">
                    <div >{% include 'line.html' %}</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" >
                  <h6 class="m-0 font-weight-bold text-primary">热搜类型画像</h6>
                  <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <!-- Card Body -->
                <div class="card-body"  style="height: 360px">
                  <div class="chart-pie pt-4 pb-2">
                    <div id="radar" style="top: -35px;left:-5px;width: 350px; height: 380px;-webkit-tap-highlight-color: transparent; user-select: none; " _echarts_instance_="ec_1663485826250"><div style="position: relative; width: 350px; height: 400px; padding: 0; margin: 0; border-width: 0;">
                      <canvas data-zr-dom-id="zr_0" width="450px" height="400px" style="position: absolute; left: 0; top: 0; width: 350px; height: 300px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0; margin: 0; border-width: 0;">

                      </canvas>
                    </div>
                    </div>

                </div>
              </div>
            </div>
          </div>

            <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">时间序列</h6>
              </div>
              <div class="card-body">
                <div class="card-body" style="height: 420px;">
                  <div class="chart-area">
                    <div id="lines" style="width: 560px; height: 460px;left: -10px;top: -20px;-webkit-tap-highlight-color: transparent; user-select: none; position: relative;" _echarts_instance_="ec_1663485826250"><div style="position: relative; width: 1000px; height: 600px; padding: 0; margin: 0; border-width: 0;">
                      <canvas data-zr-dom-id="zr_0" width="1250" height="750" style="position: absolute; left: 0; top: 0; width: 1000px; height: 600px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0; margin: 0; border-width: 0;">

                      </canvas>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="col-lg-6 mb-4">

              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">每日热搜</h6>
                </div>
                <div class="card-body" ><p style="margin-left: 90px;font-size: 20px"> 每日自动爬取更新微博热搜榜单</p>
                  <div class="text-center" style="height:300px;overflow: hidden; overflow-y: scroll;">
                    {% for article in articles %}
                    <article class="post-preview">
                      <h1 class="post-title">{{article.title}}<a  target="_blank" href="{{article.url}}/">查看相关微博 →</a></h1>
                      <p class="post-author">热搜日期{{article.create_date}} <b class="post-author">hot:{{article.hot}} </b></p>
                    </article>

                    {% endfor %}
                  </div>
                  <ul class="pagination justify-content-center mb-4">
                    {% if page == 0 %}
                    <li class="page-item">
                      <!--			            <a class="page-link" href="/?page={{page-1}}">← Older</a>-->
                    </li>
                    {% else %}
                    <li>
                      <a onclick="nextpaper()" class="page-link" style="padding-left: 38px" href="DH?page={{page-1}}">← 新一天热搜</a>
                    </li>
                    {% endif %}
                    <li class="page-item">
                      <a class="page-link"  href="/DH?page={{page+1}}">后一天热搜 →</a>
                    </li>
                  </ul>
                </div>
              </div>
          </div>
            <div class="col-lg-6 mb-4">

              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">各项占比</h6>
                </div>
                <div class="card-body">
                  <h4 class="small font-weight-bold">女性发博占比 <span class="float-right">{{f}}%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{f}}%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">男性发博占比<span class="float-right">{{m}}%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar " role="progressbar" style="width: {{m}}%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">当日热搜爬取完成度<span class="float-right">50%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">出错次数 <span class="float-right">10%</span></h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 10%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">数据库状态<span class="float-right">Perfect!</span></h4>
                  <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>

              <!-- Color System -->

            </div>
<div class="col-lg-6 mb-4" >
  <div style="display: flex">

              <div class="col-lg-6 mb-4">
                <div class="card bg-danger text-white shadow">
                  <div class="card-body">
                    女性发博占比
                    <div class="text-white-50 small">#4e73df</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="card bg-primary text-white shadow">
                  <div class="card-body">
                    男性发博占比
                    <div class="text-white-50 small">#1cc88a</div>
                  </div>
                </div>
              </div>
  </div>
  <div style="display: flex">
              <div class="col-lg-6 mb-4">
                <div class="card bg-info text-white shadow">
                  <div class="card-body">
                    当日热搜爬取完成度
                    <div class="text-white-50 small">#36b9cc</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="card bg-warning text-white shadow">
                  <div class="card-body">
                    出错次数
                    <div class="text-white-50 small">#f6c23e</div>
                  </div>
                </div>
              </div>
  </div>
  <div style="display: flex">
              <div class="col-lg-6 mb-4">
                <div class="card bg-success text-white shadow">
                  <div class="card-body">
                    数据库状态
                    <div class="text-white-50 small">#e74a3b</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-4">
                <div class="card bg-secondary text-white shadow">
                  <div class="card-body">
                    1
                    <div class="text-white-50 small">#858796</div>
                  </div>
                </div>
              </div>
  </div>
  <div style="display: flex">
    <div class="col-lg-6 mb-4">
      <div class="card bg-gradient-dark text-white shadow">
        <div class="card-body">
          2
          <div class="text-white-50 small">#e74a3b</div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card bg-gradient-warning text-white shadow">
        <div class="card-body">
          3
          <div class="text-white-50 small">#858796</div>
        </div>
      </div>
    </div>
  </div>
</div>
          </div>
        </div>
      </div>
      <div class="card shadow mb-4" >
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">今日热搜数据</h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                      <th>序号</th>
                      <th>标题</th>
                      <th>链接</th>
                      <th>热度</th>
                      <th>创建日期</th>
                      <th>种类</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for article in articles %}

                    <tr>
                      <td>{{article.id}}</td>
                      <td>{{article.title}}</td>
                      <td><a target="_blank" href="{{article.url}}">点此访问</a> </td>
                      <td>{{article.hot}}</td>
                      <td>{{article.create_date}}</td>
                      <td>{{article.zhong}}</td>
                    </tr>

                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
    </div>
  </div>
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">您确定要退出账户吗</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">在退出账户前，确保您的工作都已完善</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
          <a class="btn btn-primary" href="/logout/">登出</a>
        </div>
      </div>
    </div>
  </div>
<!--<script>-->
<!--  function bodyScale() {-->
<!--    // var kk = document.getElementsByClassName("col-sm-12 col-md-7")-->
<!--    //-->
<!--    // kk[0].style.margin="40px 20px 20px 280px"-->


<!--  }-->
<!--  window.onload = window.onresize = function () {-->
<!--    bodyScale();-->
<!--  };-->



<!--  // margin:-->
<!--  // position: ;-->
<!--</script>-->
  <!-- Bootstrap core JavaScript-->
  <script src="/templates/SK2/vendor/jquery/jquery.min.js"></script>
  <script src="/templates/SK2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/templates/SK2/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/templates/SK2/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/templates/SK2/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->

  <script type="text/javascript" src="/templates/js/tu.js"></script>
    <script src="/templates/SK2/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/templates/SK2/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/templates/SK2/js/demo/datatables-demo.js"></script>
</body>

</html>






