<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="/templates/js/massage.js"></script>
  <title>新事件添加</title>

  <!-- Custom fonts for this template -->
  <link href="/templates/SK2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/templates/SK2/css/sb-admin-2.min.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="/templates/SK2/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->

    {% include '/SK2/shu.html' %}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% include '/SK2/heng.html' %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">添加新事件</h1>
          <p class="mb-4">以下为每日热搜，点击后等待运行完成即可添加事件数据，若想自定义事件名称</p>
<div style="position: relative;margin-left: 580px;margin-top: -55px">
          <a  target="_blank" href=""><li class="nav-item dropdown no-arrow mx-1 " style="list-style: none">
            <a class="nav-link dropdown-toggle" style="padding-left:0px" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i  class="fas fa-bell fa-fw " >点此去新增自定义事件数据</i>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu  shadow animated--grow-in" style="" aria-labelledby="alertsDropdown">
              <h6 class="dropdown-header">
                弹出框
              </h6>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <div class="mr-3">
                  <div class="icon-circle bg-primary">
                    <i class="fas fa-file-alt text-white"></i>
                  </div>
                </div>
                <div style="width: 200px">
                  <div class="small text-gray-500">添加事件</div>
                  <div class="input-group">
                    <input id="wid" type="text"  class="form-control bg-light border-0 small" placeholder="输入微博名称" aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-paper-plane fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" type="button" id="gogo" style="width: 50%">
                <div>
                  <div class="input-group-append">

                  </div>
                  <span  style="font-size: 15px;padding-left: 40px"> 确 定</span>
                </div>
              </a>
              <a class="dropdown-item d-flex align-items-center" style="position: absolute;right: 0px;bottom: 8px;font-size: 15px;padding-left: 40px;width: 50%" href="#">
                <div>
                  <span  >取消</span>
                </div>
              </a>
            </div>
          </li></a>

</div>



          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">事件数据库</h6>
              <ul class="pagination justify-content-center mb-4" style="position: absolute">
                {% if page == 0 %}
                <li class="page-item" style="margin-left: 230px;margin-top:35px;padding-left: 38px">

                </li>
                {% else %}
                <li>
                  <a onclick="nextpaper()" class="page-link" style="margin-left: 230px;margin-top:35px;padding-left: 38px" href="/table/add?page={{page-1}}">← 新一天热搜</a>
                </li>
                {% endif %}
                <li class="page-item">
                  <a class="page-link" style="position: relative;margin-left: 110px;margin-top:35px;padding-left: 38px"  href="/table/add?page={{page+1}}">后一天热搜 →</a>
                </li>
              </ul>
            </div>
            <div class="card-body" style="list-style: none" id="tan">

              <div class="table-responsive">

                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                  <thead>
                  <tr>
                    <th>序号</th>
                    <th>标题</th>
                    <th>添加事件</th>
                    <th>热度</th>
                    <th>创建日期</th>
                    <th>种类</th>

                  </tr>
                  </thead>
                  <tbody>
                  {% for article in articles %}

                  <tr>
                    <td>{{article.id}}</td>
                    <td>{{article.title}}</td>
                    <td><a  target="_blank" href="{{article.url}}"><li class="nav-item dropdown no-arrow mx-1 ">
                      <a class="nav-link dropdown-toggle" style="padding-left:0px" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i  class="fas fa-bell fa-fw " >点此添加事件</i>

                      </a>
                      <!-- Dropdown - Alerts -->
                      <div class="dropdown-list dropdown-menu  shadow animated--grow-in" aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">
                          弹出框
                        </h6>
                        <a class="dropdown-item d-flex align-items-center" href="#">
                          <div class="mr-3">
                            <div class="icon-circle bg-primary">
                              <i class="fas fa-file-alt text-white"></i>
                            </div>
                          </div>
                          <div>
                            <div class="small text-gray-500">添加事件</div>
                            <span class="font-weight-bold">你确定添加 """"{{article.title}}""""事件吗？（程序将会运行1-5分钟）</span>
                          </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" style="width: 50%" href="/addevent?event={{article.title}}">
                          <div>
                            <span  style="font-size: 15px;padding-left: 80px">确 定</span>
                          </div>
                        </a>
                        <a class="dropdown-item d-flex align-items-center" style="position: absolute;right: 0px;bottom: 8px;font-size: 15px;padding-left: 80px;width: 50%" href="#">
                          <div>
                            <span  >取消</span>
                          </div>
                        </a>




                      </div>
                    </li></a> </td>
                    <td>{{article.hot}}</td>
                    <td>{{article.create_date}}</td>
                    <td>{{article.zhong}}</td>
                  </tr>

                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->

      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">您确定要退出账户吗</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">在退出账户前，确保您的工作都已完善</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
          <a class="btn btn-primary" href="/logout/">登出</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/templates/SK2/vendor/jquery/jquery.min.js"></script>
  <script src="/templates/SK2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/templates/SK2/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/templates/SK2/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/templates/SK2/vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="/templates/SK2/vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/templates/SK2/js/demo/datatables-demo.js"></script>
  <script>
    let btn=document.getElementById('gogo');
    btn.addEventListener("click",hello1);
    function hello1(){

      var ww = document.getElementById('wid').value
      window.location.replace('/addevent?event='+ww)

    }
  </script>
</body>

</html>
