<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorldMap</title>
    <script src="/templates/yiqing2/static/js/echarts.min.js"></script>
    <script src="/templates/yiqing2/static/js/world.js"></script>
    <script src="/templates/yiqing2/static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/templates/yiqing2/static/css/world01.css">
</head>
<body>



<div id="title">
    <span class="time"></span>
    世界疫情实时展示
    <a class="link"  >数据来源：腾讯新闻</a>
</div>
<div id="left1" ></div>
<div id="left2" ></div>
<div id="t1"></div>
<div id="t2"></div>
<div id="t3"></div>
<script src="/templates/yiqing2/static/js/index.js"></script>

</body>
</html>