<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>微博主题画像平台</title>
    <link rel="stylesheet" type="text/css" res="stylesheet" href="/templates/Untitled-2.css">
    <script src="/templates/js/jquAB25.js"></script>
    <script src="/templates/js/massage.js"></script>

    <script type="text/javascript" src="/templates/js/echarts.min.js"></script>
    <link href="/templates/css/animate.min.css" rel="stylesheet">
    <link href="/templates/css/style.css" rel="stylesheet">
    <link href="/templates/css/font-awesome.min.css" rel="stylesheet">
    <link href="/templates/css/clean-blog-old.css" rel="stylesheet">
</head>

<body>
{% include 'menuhs.html' %}

{% block body %}{% endblock %}



</body>
</html>

