<!DOCTYPE html>
<html lang="zh-CN">
<head>
 <meta charset="UTF-8">
 <title>软件介绍</title>
 <link rel="stylesheet" href="css/jquery.fullPage.css">
 <link rel="stylesheet" href="css/style.css">
</head>

<body>
<div class="bgcolor">
  <div style="z-index:100;" id="dowebok">
      <!--第一屏-->
      <div class="section">
          <div class="ly-box01">
            <div class="ly-txt01">
              <p class="ly-stxt01">实习项目部分相关技术栈</p>
              <p class="ly-stxt02">JavaScript Html Css </p>
              <p class="ly-stxt03">pyEchart可视化</p>
              <p class="ly-stxt04">postgres sql数据分析</p>
              <p class="ly-stxt05">snownlp 自然语言情感分析</p>
            </div>
            <div class="ly-txt02">
              <p class="ly-stxt06">jieba分词</p>
              <p class="ly-stxt07">flask WEB框架</p>
              <p class="ly-stxt08"></p>
              <p class="ly-stxt09"></p>
              <p class="ly-stxt10"></p>
            </div>
        </div>
      </div> 

      <!--第二屏-->

      <div class="section">
          <div class="timeline"></div>
          <div class="timepoint11"></div>
          <div class="ly-box11">
              <div class="ly-txt11">
                  登陆界面
              </div>
              <div class="ly-txt12">
                  <h2>默认账号密码cppu,
                  给予系统安全的保护,
                  便于以后开发新增内部保密功能。</h2>
              </div>
              <div class="ly-imgbox11">
                <img class="ly-img11" src="img/2022.10.02-1.jpg">
              </div>
          </div>
          <div class="ly-triangle11"></div>

          <div class="ly-box12">
              <div class="ly-txt13">
                  错误的密码尝试
              </div>
              <div class="ly-txt14">
                 <p></p>
			     <h1>我们也会将不速之客赶于门外</h1>
			     
			    <div class="ly-imgbox11">
                <img class="ly-img11" src="img/2022.10.02-2.jpg">
              </div>
          </div>
          
				 
				 

              </div>
          </div>
          <div class="ly-triangle12"></div>
      

      <!--第三屏-->

      <div class="section">
          <div class="timeline"></div>
          <div class="timepoint21"></div>
          <div class="ly-box21">
              <div class="ly-txt21">
                  功能概览
              </div>
              <div class="ly-txt22">
                 <p> </p>
				         
              </div>
              <div class="ly-imgbox21" style="width: 20%">
                <img class="ly-img21"  src="img/2022.10.02-3.jpg">
              </div>
          </div>
          <div class="ly-triangle21"></div>

          <div class="ly-box22">
              <div class="ly-txt23">
                  所使用的数据集
              </div>
              <div class="ly-txt24">
                  疫情统计时空数据，分为国内各省市疫情统计数据及世界各国疫情统计数据，包括从1.19至5.19四个月时间的确诊人数、现存确诊人数、治愈人数、死亡人数等依据与“新冠肺炎”相关的230个主题关键词进行数据采集的微博数据 部分数据经爬虫采集，部分数据采用公开数据集；
              </div>
              <div class="ly-imgbox22">
                <img class="ly-img22" src="img/2014.12.19-1.png">
              </div>
          </div>
          <div class="ly-triangle22"></div>

           <div class="ly-box23">
              <div class="ly-txt25">
                  功能实现
              </div>
              <div class="ly-txt26">
                  可视化部分采用pyecharts+flask实现动态交互，疫情数据动态交互可视化地图 共有三种地图类型：现存确诊率地图、累计死亡人数地图、死亡率（累计死亡人数/累计确诊人数）地图，可以通过下拉框进行选择； 可以拖动时间轴上的滑块改变地图显示日期
              </div>
              <div class="ly-imgbox23">
                <img class="ly-img23" src="img/2014.12.20-1.jpg">
              </div>
          </div>
          <div class="ly-triangle23"></div>
      </div>

      <!--第四屏-->

      <div class="section">
          <div class="timeline"></div>
          <div class="timepoint31"></div>
          <div class="ly-box31">
              <div class="ly-txt31">
                  功能一/数据预览
              </div>
              <div class="ly-txt32">
                  <p>使用前预览系统内的数据集</p>
				          
              </div>
              <div class="ly-imgbox31">
                <img class="ly-img31" src="img/2022.10.02-4.JPG">
              </div>
          </div>
          <div class="ly-triangle31"></div>

          <div class="ly-box32">
              <div class="ly-txt33">
                  功能预览
              </div>
              <div class="ly-txt34">
                 <p>详细了解整个系统的功能</p>
              </div>
              <div class="ly-imgbox31">
                <img class="ly-img31" src="img/2022.10.02-5.JPG">
              </div>
          </div>
          <div class="ly-triangle32"></div>
      </div> 

  <!--第五屏-->
  <div class="section">
          <div class="timeline"></div>
          <div class="timepoint21"></div>
          <div class="ly-box52">
              <div class="ly-txt21">
                  功能二/空间态势感知
              </div>
              <div class="ly-txt22">
                 <p> <br></p>
				         <p>世界疫情分布图</p>
              </div>
              <div class="ly-imgbox21">
                <img class="ly-img21" src="img/2022.10.02-6.jpg">
              </div>
          </div>
          <div class="ly-triangle21"></div>

          <div class="ly-box22">
              <div class="ly-txt23">
                  世界疫情分布图
              </div>
              <div class="ly-txt51">
                  
              </div>
              <div class="ly-imgbox22">
                <img class="ly-img22" src="img/2022.10.02-7.jpg">
              </div>
          </div>
          <div class="ly-triangle22"></div>

           <div class="ly-box51">
              <div class="ly-txt25">
                  可调节的日期与选项
              </div>
              <div class="ly-txt26">
                  
				 
              </div>
              <div class="ly-imgbox23">
                <img class="ly-img23" src="img/2022.10.02-8.jpg">
              </div>
          </div>
          <div class="ly-triangle23"></div>
      </div>

  <!--第六屏-->
  <div class="section">
          <div class="timeline"></div>
          <div class="timepoint21"></div>
          <div class="ly-box21">
              <div class="ly-txt21">
                  功能三/世界疫情实时展示
              </div>
              <div class="ly-txt22">
                 <p>通过腾讯提供的API接口获取每日更新的疫情</p>
                 <p>获取到的JSON格式用JavaScript处理后高效率查询，并且传到后端利用pyechart绘制渲染</p>
                 
              </div>
              <div class="ly-imgbox21">
                <img class="ly-img21" style="height:500px;" src="img/2022.10.02-9.jpg">
              </div>
          </div>      
          </div>     

      <!--第七屏-->
      <div class="section">
          <div class="timeline"></div>
          <div class="timepoint71"></div>
            <div class="ly-box21">
              <div class="ly-txt21">
                  功能四/出行安全指数评测
              </div>
              <div class="ly-txt22">
                 <p>通过将JSON数据存储在内存中，以列表的形式，一一对应前端选择，监听选择事件，返回结果到前端</p>
                 <p>按照当地疫情情况分为1-5星。并且每天更新疫情相关新闻，以ifrema的形式在左下角展示</p>
                 
              </div>
              <div class="ly-imgbox21">
                <img class="ly-img21" style="height:500px;" src="img/2022.10.02-10.jpg">
              </div>
          </div>      
          </div>     

      <!--第八屏-->

      <div class="section">
          <div class="timeline"></div>
          <div class="timepoint11"></div>
          <div class="ly-box21">
              <div class="ly-txt21">
                  功能五/趋势分析
              </div>
              <div class="ly-txt22">
                 <p>将各国的疫情新增、死亡、治愈的最高值和最低值绘制出趋势图</p>
                 <p>并且添加了select标签可以选择世界各国</p>
                 
              </div>
              <div class="ly-imgbox21">
                <img class="ly-img21" style="height:500px;" src="img/2022.10.02-11.jpg">
              </div>
          </div>      
          </div>     

      <!--第九屏-->

<div class="section">
          <div class="timeline"></div>
          <div class="timepoint91"></div>
          <div class="ly-box21">
              <div class="ly-txt21">
                  功能六/舆情数据
              </div>
              <div class="ly-txt22">
                 <p>绘制了微博每日人均情感打分与日期的关系</p>
                 <p>并且带有slider控件的词云图，每次拖动会发送请求给flask后端</p>
                 
              </div>
              <div class="ly-imgbox21">
                <img class="ly-img21" style="height:500px;" src="img/2022.10.02-12.jpg">
              </div>
          </div>      
          </div>     
<!--第十屏-->

		<!--第十yi屏-->
<div class="section">
          <div class="timeline"></div>
          <div class="timepoint91"></div>
          <div class="ly-box21">
              <div class="ly-txt21">
                  功能七/NLP训练模型（自然语言处理）
              </div>
              <div class="ly-txt22">
                 <p>我们采用已经训练好的模型，weibo.marshal.3是训练好的微博评论语料模型</p>
                 <p>snownlp带入岂可分析出不同地区人评论的情感数据并生成CSV文件，我们可利用CSV数据可进行下一步的绘制可视化</p>
                 
              </div>
              <div class="ly-imgbox21">
                <img class="ly-img21" style="height:500px;" src="img/2022.10.02-13.jpg">
              </div>
          </div>      
          </div>

<div class="section">
          <div class="timeline"></div>
          <div class="timepoint91"></div>
          <div class="ly-box21">
              <div class="ly-txt21">
                  功能八/地区分布情感折线图
              </div>
              <div class="ly-txt22">
                 <p>我们在上一模块已经用语料模型生成了我们需要的各地区情感打分</p>
                 <p>我们在此功能模块下完成Pyechart的可视化图表绘制</p>
                 <p>并且，我们加入了切换条形图与下载功能</p>


                 
              </div>
              <div class="ly-imgbox21">
                <img class="ly-img21" style="height:500px;" src="img/2022.10.02-14.jpg">
              </div>
          </div>      
          </div>

		      <div class="section">
          <div class="timeline"></div>
          <div class="timepoint11"></div>
          <div class="ly-box81">
              <div class="ly-txt11">
                  感谢老师评委们的观看，请批评指正。
              </div>
              <div class="ly-txt82" style="top:8%">
                  

              </div>
              
          </div>
          <div class="ly-triangle11"></div>

          <div class="ly-box82">
              <div class="ly-txt13">
                  下面我们分别运行软件的前端和后端
              </div>
              <div class="ly-txt84">
                 
		<div class="ly-imgbox81">
                <img  src="img/2022.10.02-16.jpg">
                <img  src="img/2022.10.02-15.jpg">

              </div>		 
              </div>
          </div>
          <div class="ly-triangle82"></div>
      </div>

       </div>
  <!--试验-->
  <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    
  </div>
 

<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/jquery.fullPage.min.js"></script>
<script src="js/diy.js"></script>
</body>
</html>