<div class="header"></div>
<link rel="stylesheet" href="echhh.css">
<script src="/templates/echhh.css"></script>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li>疫情空间数据与舆情数据分析 <span>可视化系统</span></li>
      <li><a href="http://127.0.0.1:5000/sentimentAnalysis" target="abc">空间态势感知</a></li>
      <li><a href="https://instagram.com/plavookac" target="_blank">趋势分析</a></li>
      <li><a href="https://twitter.com/plavookac" target="_blank">舆情数据</a></li>
      <li><a href="https://www.youtube.com/channel/UCDfZM0IK6RBgud8HYGFXAJg" target="_blank">情感分析与可视化模型预测</a></li>
      <li><a href="https://www.linkedin.com/in/plavookac/" target="_blank">地区分布情感折线图</a></li>
    </ul>
  </div>
  <div id='center' class="main center">
	  <iframe width="80%" height="90%" name="abc" class="embed-show" src="http://192.168.8.161:6789/#s/8h8wmiYg" allowtransparency="true" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" frameborder="0" scrolling="no" __idm_id__="2269185"></iframe>
    <div class="mainInner">
      <div>疫情空间数据与舆情数据分析可视化系统</div>
    </div>
    <div class="mainInner">
      <div>PURE CSS SIDEBAR TOGGLE MENU</div>
    </div>
    <div class="mainInner">
      <div>PURE CSS SIDEBAR TOGGLE MENU</div>
    </div>
  </div>